.messages {
    position: absolute;
    top: 2rem;
    right: 2rem;

    @media (max-width: 768px) {
        position: relative;
        top: 0;
        right: 0;
        margin-top: 1rem;
    }
}

.Login {
    padding: 3rem 5rem;

    &__title {
        font-size: 48px;
        margin-bottom: 1rem;
    }

    &__form {
        max-width: 400px;
    }

    &__formGroup {
        margin-bottom: 1rem;
    }


    &__formLabel {
        display: block;
        margin-bottom: 5px;
    }

    &__formInput {
        display: block;
        padding: 10px;
        border-radius: 4px;
        border: 1px solid #ccc;
        width: 100%;
    }

    &__formButton {
        margin-top: 10px;
        text-decoration: none;
        background-color: #1588b6;
        color: white;
        padding: 10px 20px;
        border-radius: 4px;
        cursor: pointer;
        border: none;
        outline: none;

        &:hover {
            background-color: #107197;
        }
    }


    @media(max-width: 425px) {
        padding: 3rem 2rem;
    }

}