.Home {
    background: linear-gradient(177.22deg, #181818 -0.95%, #195995 37.5%, #051C32 96.48%);
    min-height: 100vh;

    &__header {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    &__hero {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }

    &__about {
        margin-bottom: 15rem;
    }

    &__tracks {
        margin-bottom: 15rem;
    }
}