.messages {
    position: absolute;
    top: 2rem;
    right: 2rem;

    @media (max-width: 768px) {
        position: relative;
        top: 0;
        right: 0;
        margin-top: 1rem;
    }
}

.Layout {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 100vh;

    &__navbar {
        width: fit-content;
        height: 100%;
    }

    &__dashboard {
        flex: 1;
        background-color: #FAFAFA;
    }
}

.logo {
    height: 150px !important;

    @media (max-width: 991px) {
        height: 80px !important;
    }
}