.Counter {
    display: flex;
    // justify-content: space-between;

    &__item {
        background-color: hsl(0, 0%, 5%);
        // width: 28%;
        width: 340px;
        padding: 30px 40px;

        &:not(:last-child) {
            margin-right: 30px;
        }
    }

    &__text {
        font-size: 18px;
        margin-bottom: 0;
    }

    &__number {
        font-size: 72px;
        font-weight: 700;
        margin-bottom: 0;
    }

    @media (max-width: 808px) {
        flex-direction: column;

        &__item {
            width: 340px;

            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }
    }

    @media (max-width: 425px) {
        &__item {
            width: 100%;
        }
    }
}