.Hero {
    transform: translateY(-50px);

    &__image {
        height: 140px;

        img {
            height: 100%;
        }
    }

    &__description {
        font-size: 48px;
        font-weight: 500;
        font-style: italic;
        margin-bottom: 20px;
    }

    &__date {
        font-size: 24px;
        font-size: 400;
        margin-bottom: 20px;
    }

    &__buttons {
        display: flex;

        > :nth-child(1) {
            margin-right: 20px;
        }
    }

    @media(max-width: 808px) {
        &__image {
            height: 68px;
        }

        &__description {
            font-size: 38px;
            font-weight: 500;
            font-style: italic;
            margin-bottom: 20px;
        }

        &__date {
            font-size: 18px;
            font-size: 400;
            margin-bottom: 20px;
        }

        &__buttons {
            display: flex;
            flex-direction: column;

            > :nth-child(1) {
                margin-right: 0;
                margin-bottom: 20px;
            }
        }

    }

    @media (max-width: 425px) {
        &__buttons {

            > :nth-child(1),
            >:nth-child(2) {
                width: 100%;
            }
        }
    }

    @media (max-width: 409px) {
        &__image {
            width: 100%;
            height: auto;
        }
    }
}