.Hero {
    color: white;
    flex-grow: 1;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__content {
        transform: translateY(-5rem);
    }


    &__title {
        font-size: 96px;
        margin-bottom: 20px;
    }

    &__description {
        font-size: 32px;
    }

    @media (max-width: 529px) {
        &__title {
            font-size: 64px;
            margin-bottom: 10px;
        }

        &__description {
            font-size: 28px;
        }

    }
}