.SectionTitle {
    color: white;
    position: relative;
    width: fit-content;
    padding-bottom: 10px;

    &::after {
        content: "";
        position: absolute;
        width: 110%;
        height: 4px;
        border-radius: 8px;
        background-color: #1975CA;
        // margin: 20px;
        left: 0;
        bottom: 0;
    }

    &__text {
        font-size: 48px;
        font-weight: bold;
    }

    &__description {
        font-size: 18px;
        font-weight: bold;
    }
}