.Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1149px;
    margin: 0 auto;

    &__image {
        height: 142px;

        img {
            height: 100%;
        }
    }

    &__menu {
        display: none;
    }

    &__links {
        display: flex;
        list-style-type: none;
        padding: 0;
    }

    &__link {
        font-size: 18px;
        font-weight: 500;
        position: relative;
        cursor: pointer;

        width: 168px;
        border-bottom: 1px solid rgb(156, 156, 156);
        text-align: center;
        padding-bottom: 5px;


        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 1px;
            background-color: white;
            transition: width 0.3s ease;

        }

        &:hover::after {
            width: 100%;
        }

        a {
            color: inherit;
            text-decoration: none;

            &:hover {
                color: inherit;
            }
        }


        &:not(:last-child) {
            margin-right: 14px;
        }
    }

    @media (max-width: 1001px) {
        // padding: 0 20px;
        flex-direction: column;
        align-items: flex-start;

        &__controls {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
        }

        &__menu {
            display: inline-block;

            button {
                padding: 10px;
            }
        }

        &__links {
            flex-direction: column;
            width: 100%;
            height: 0;
            overflow: hidden;

            &_active {
                height: 100%;
            }
        }

        &__link {
            text-align: left;
            width: 100%;
            margin-bottom: 15px;
        }
    }
}